@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

ul{
    margin: 0;
    padding: 0;
}

button{
    background: none;
    border: none;
    color: #68bbf7;  
}

a{
    text-decoration: none;
    color: #68bbf7;
}

li{
    list-style: none;
  }




