/* @import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Indie+Flower&family=Permanent+Marker&display=swap'); */

.divForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1, h2{
        color: #68bbf7;
        gap: 6rem;
        font-size: 4rem;
    }
}




.registerForm{

    margin: 1rem;

    .imgHerramientas{
        width: 35px;
    }
    
    
    
    
    .imregister {
    
        display: flex;
        align-items: center;
        margin-right: 0.5em;
        gap: 7px;;
    }
    
    
    .figure{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .figure-img{
        margin-bottom: 2rem;
        border-radius: 100%;
    }

}




