// ---CAMBIAR ESTOS ESTILOS A LOS QUE SE CIÑAN A LA APP---


.dashboard {
    display: flex;

    
}

.dashboard .swipe-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.swipe {
    position: absolute;
  }
  
.dashboard.cardContainer { 
    background-color: black;
    background-size: 500px;
    width: 100vw;

  }

  

.card {
  position: relative;
  background-color: #fff;
  box-shadow: 0px 0px 15px 0px #00000070;
  width: 88vw;
  height: 70vh;
    border-radius: 30px;
    background-size: cover;
    background-position: center;
    justify-content: flex-end;
    margin: 5em 1.5em 0 1.5em;

    h2{
      font-size: 3em;
      margin-left: 0.3em;
    }
    h3{
      margin: 0 0 0.5em 1em;
    }

    p, h3, h2{
      color: rgb(123, 235, 255);
      text-shadow: 0px 2px 10px #000000;
    }
    ul{
      display: flex;
      gap: 5px;
    }
}
  .cardContent {
    width: 100%;

  }

  .dashboard .swipe-info {
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.imgHerramienta{
  margin-left: 1em;
  width: 3.5em;
  -webkit-filter: drop-shadow(0px 0px 5px rgb(0, 153, 255) );
  filter: drop-shadow(0px 0px 5px rgb(0, 153, 255));
}


@media only screen and (min-width: 600px) {

  .card{
    width: 40em;
    height: 40em;
  }
}
  
  

